{% extends 'base.html.twig' %}

{% block title %}Accueil - EcoRide
{% endblock %}

{% block body %}


	{% for message in app.flashes('warning') %}
		<div class='alert alert-danger'>
			{{ message }}
		</div>
	{% endfor %}

	<div id="hero" class="gradient pb-3 mb-2">
		<div class="box-hero">
			<h1 class="text-white text-center col-10 mx-auto py-4">
				<span class="fw-bold">EcoRide</span>
				: Covoiturage Responsable : Moins de CO₂, Plus de Partage !</h1>
			<div class="container rounded-4 bg-white p-3 shadow col-10 col-lg-12">
				{{ form_start(searchForm, {
			    'action': path('app_search_results'),
			    'method': 'POST',
			    'attr': {'class': 'row g-3 justify-content-center'}
			}) }}
				<div class="col-12 col-lg-3">
					{{ form_row(searchForm.departure, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="col-12 col-lg-3">
					{{ form_row(searchForm.arrival, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="col-12 col-lg-3">
					{{ form_row(searchForm.date) }}
				</div>
				<div class="text-center col-lg-2 align-self-end">
					{{ form_row(searchForm.rechercher, {'attr': {'class': 'btn btn-primary w-100'}}) }}
				</div>
				{{ form_end(searchForm) }}
			</div>
		</div>
	</div>


	<main class="container-xl">

		<article id="who-we-are" class=" mb-4">
			<h2 class="text-center text-primary mb-3">Qui sommes nous ?
			</h2>
			<div class="row align-items-center">

				<div class="col-8 col-lg-4 order-lg-2 mx-auto mb-3">
					<img class="img-fluid" src="/assets/images/qui-sommes-nous.png" alt="Représentation d'une équipe qui travail ensemble">
				</div>

				<div class="col-12 col-lg-8 order-lg-1 text-body-tertiary">
					<p>EcoRide est une plateforme de covoiturage écoresponsable conçue pour rendre les déplacements plus durables et accessibles à tous.
																		                    Nous mettons en relation des conducteurs et des passagers partageant un même trajet, avec un objectif clair : réduire les émissions de CO₂ et favoriser une mobilité plus économique et écologique.</p>
					<h3 class="text-primary fs-3 mb-2">Nos valeurs</h3>
					<ul>
						<li class="mb-3">
							<span class="text-secondary">Écologie</span>
							- Voyager tout en réduisant son impact environnemental.</li>
						<li class="mb-3">
							<span class="text-secondary">Partage</span>
							- Encourager une mobilité solidaire et conviviale.</li>
						<li class="mb-3">
							<span class="text-secondary">Accessibilité</span>
							- Offrir une alternative abordable et pratique.</li>
					</ul>
				</div>

			</div>
		</article>

		<article class=" mb-4">
			<h2 class="text-center text-primary mb-3">Pourquoi choisir EcoRide ?</h2>
			<div class="row align-items-center">

				<div class="col-8 col-lg-4 order-lg-1 mx-auto mb-3">
					<img class="img-fluid" src="/assets/images/pourquoi-nous-choisir.png" alt="Représentation d'une équipe qui travail ensemble">
				</div>

				<div class="col-12 col-lg-8 order-lg-1 text-body-tertiary">
					<ul class="">
						<li class="mb-3">
							<span class="text-secondary">Voyagez de façon plus écologique</span>
							- Privilégiez les trajets en voitures électriques ou hybrides.</li>
						<li class="mb-3">
							<span class="text-secondary">Réduisez vos coûts</span>
							- Partagez les frais avec d’autres passagers et optimisez votre budget transport.</li>
						<li class="mb-3">
							<span class="text-secondary">Accessibilité</span>
							- Une interface simple et intuitive pour trouver un covoiturage en un instant.</li>
					</ul>
				</div>

			</div>
		</article>

	</main>

{% endblock %}
