{% extends 'base.html.twig' %}

{% block title %}Tableau de bord - EcoRde
{% endblock %}

{% block body %}

	<main class="container-xl">

		<div class="d-flex align-items-center mb-3">
			<h1 class="text-dark">
				Tableau de bord -
				<span class="text-primary">{{user}}</span>
			</h1>
		</div>

		<div class="row">
			<div class="col-12 col-md-8">
				<div class="list-group mb-4">
					<div class="fw-bold text-uppercase small text-dark px-3 py-2 border border-bottom-0 rounded-top">Administrateur</div>
					<a class="list-group-item" href="{{ path('app_create_employee') }}">Créer un employé</a>
					<a class="list-group-item" href="{{ path('app_manage_accounts') }}">Gérer les comptes</a>
				</div>
			</div>

			<div class="col-md-4">
				<div class="text-center bg-dark  text-white p-3 rounded rounded-bottom-0 border border-bottom-0">
					Gains de EcoRide
				</div>
				<div class="text-center d-flex align-items-center justify-content-center  fs-4 text-{{ balance > 0 ? 'white' : 'danger' }} p-3 border border-top-0 rounded rounded-top-0">
					{{ balance }}
					<i class="bi bi-coin text-warning ms-1"></i>
				</div>
			</div>
		</div>

		<hr>
			<section></section>
		</main>

	{% endblock %}
