{% extends 'base.html.twig' %}

{% block title %}
	Vos covoiturages - EcoRde
{% endblock %}

{% block body %}
	<main class="container-xl">
		<h1 class="text-dark">Vos covoiturages</h1>
		<section class="mb-3">
			{% if active_rides|length > 0 %}
				<h3 class="text-primary">
					<i class="bi bi-exclamation-circle-fill text-danger me-2"></i>
					{{ active_rides|length > 1 ? 'Voyages' : 'Voyage'}}
					en cours en tant que chauffeur :
				</h3>
				<p class="text-secondary">
					<i class="bi bi-info-circle"></i>
					Une fois votre trajet terminé nous vous invitons à venir valider le trajet dans votre tableau de bord. Vos passager pourront ensuite indiquer si le voyage s'est bien passé et ainsi débloquer vos paiements.
				</p>
				<div class="accordion shadow-sm mt-3" id="active_rides">
					{% for ride in active_rides %}

						{% set dynamic_block %}
						{% if  ride.driver.id == user.id %}
							<div class="d-flex flex-column flex-md-row justify-content-center gap-3">
								<form method="POST" action="{{ path('ride_complete', { id: ride.id }) }}" onsubmit="return confirm('Vous êtes arrivé à bon port ?');">
									<input type="hidden" name="_token" value="{{ csrf_token('complete_ride_' ~ ride.id) }}">
									<button type="submit" class="btn btn-outline-success w-100">
										Voyage terminé
									</button>
								</form>
							</div>
						{% endif %}
						{% endset %}

						{% include 'components/dashboard/_ride_accordion.html.twig' with {
								ride: ride,
								loop_index: 'active_rides' ~ loop.index,
								accordion_id: '#active_rides',
								open_first: true,
								status_color: 'primary',
								status_message: 'En cours...',
								ratings_by_driver: user_rating,
								dynamic_block: dynamic_block
						} %}
					{% endfor %}
				</div>
				<hr>
			{% endif %}
		</section>

			
			<h2 class="text-primary">Prochainement :</h2>
			{% if next_rides|length > 0 %}
				<div class="mb-3">
					<div class="accordion shadow-sm mt-3" id="next_rides">
						{% for ride in next_rides %}

							{% set dynamic_block %}
								{% if ride.driver.id == user.id %}
									<div class="d-flex flex-column flex-md-row justify-content-center gap-3">
										<form method="post" action="{{ path('ride_start', { id: ride.id }) }}" onsubmit="return confirm('Toutes les ceintures sont bouclées ? Vous êtes prêt à partir ?');">
											<input type="hidden" name="_token" value="{{ csrf_token('complete_ride_' ~ ride.id) }}">
											<button class="btn btn-outline-success w-100" type="submit">
												<i class="bi bi-car-front me-2"></i>Démarrer le trajet
											</button>
										</form>
										<form method="post" action="{{ path('ride_delete', { id: ride.id }) }}" onsubmit="return confirm('Confirmez l\'annulation ?');">
											<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ride.id) }}">
											<button class="btn btn-outline-danger w-100" type="submit">
												<i class="bi bi-trash me-2"></i>Annuler le trajet
											</button>
										</form>
									</div>
								{% endif %}
							{% endset %}

							{% include 'components/dashboard/_ride_accordion.html.twig' with {
							ride: ride,
							loop_index: 'next_rides' ~ loop.index,
							accordion_id: '#next_rides',
							open_first: active_rides|length > 0 ? false : true,
							status_color: 'primary',
							status_message: 'Prochainement',
							ratings_by_driver: user_rating,
							dynamic_block: dynamic_block
					} %}
						{% endfor %}

					</div>
				</div>
			{% else %}
				<div class="text-center">
					<p>Vous n'avez pas de covoiturage prévu prochainement.</p>
				</div>
			{% endif %}
			<hr>
			<h2 class="text-primary">Historique :</h2>
			{% if previous_rides|length > 0 %}
				<div class="mb-3">
					<div class="accordion shadow-sm mt-3" id="previous_rides">
						{% for ride in previous_rides %}
							{% set statusColor = '' %}
							{% set statusContent = '' %}
							{% if ride.status == 'completed' %}
								{% set statusColor = 'success' %}
								{% set statusContent = 'Terminé' %}
								{% set statusDescription = 'Vos passagers doivent maintenant confirmer que tout s\'est bien passé. Vous pouvez suivre leur avancement dans la rubrique <a class="text-dark" href="' ~ path('app_driver_manage_your_bookings') ~ '">Réservations pour mes covoiturages</a>.' %}
							{% elseif ride.status == 'canceled' %}
								{% set statusColor = 'danger' %}
								{% set statusContent = 'Annulé' %}
								{% set statusDescription = 'Ce trajet a été annulé.' %}
							{% endif %}

							{% set dynamic_block %}
							<div class="row justify-content-center">
								<div class="text-primary col col-md-8">
									<p><i class="bi bi-info-circle me-2"></i>{{ statusDescription|raw }}</p>
								</div>
							</div>
							{% endset %}

							{% include 'components/dashboard/_ride_accordion.html.twig' with {
								ride: ride,
								loop_index: 'previous_rides' ~ loop.index,
								accordion_id: '#previous_rides',
								open_first: false,
								status_color: statusColor,
								status_message: statusContent,
								ratings_by_driver: user_rating,
								dynamic_block: dynamic_block
					} %}
						{% endfor %}

					</div>
				</div>
			{% else %}
				<div class="text-center">
					<p>Votre historique est vierge pour le moment.</p>
				</div>
			{% endif %}
		</main>
	{% endblock %}
