{% extends 'base.html.twig' %}

{% block title %}Tableau de bord - EcoRde
{% endblock %}

{% block body %}

<main class="container-xl">

	<div class="d-flex align-items-center mb-3">
		<h1 class="text-dark">
			Tableau de bord
			<span class="text-primary">{{user}}</span>
		</h1>
		<div class="text-white text-center d-flex bg-dark fs-5 ms-auto shadow p-3 rounded">{{balance}}<i class="bi bi-coin text-warning"></i>
		</div>
	</div>

	<div class="list-group mb-4">
		<div class="fw-bold text-uppercase small text-dark px-3 py-2 border border-bottom-0 rounded-top">Passager</div>
		<a class="list-group-item" href="{{path('app_driver_dashboard_bookings')}}">Mes réservations</a>
	</div>

	<div class="text-center my-3">
		<p>Vous souhaitez pouvoir organiser vos propres covoiturages ? Devenez un driver pour
			<span class="text-dark">EcoRide</span>
			dès maintenant !</p>
		<a href="{{path('become_driver')}}" class="btn btn-primary">Devenir un driver</a>
	</div>

	{% if participations_active|length > 0 %}
		<hr>
		<section class="mb-3">
			<h3 class="text-primary">
				<i class="bi bi-exclamation-circle-fill text-danger me-2"></i>
				{{ participations_active|length > 1 ? 'Voyages' : 'Voyage'}}
				en cours en tant que passager :
			</h3>
			<div class="accordion shadow-sm mt-3" id="active_participations">
				{% for participation in participations_active %}
					{% set ride = participation.ride %}
					{% set statusContent = '' %}
					{% if participation.status == 'active' %}
						{% set statusContent = 'En cours...' %}
						{% set statusNotif = false %}
					{% else %}
						{% set statusContent = 'Veuillez confirmer si tout s\'est bien passé.' %}
							{% set statusNotif = true %}
						{% endif %}
						
						{% set dynamic_block %}
						{% if participation.status == 'active' %}
							<div class="row justify-content-center">
								<div class="text-primary col col-md-8">
									<p class="text-secondary"><i class="bi bi-info-circle me-2"></i>Merci de bien vouloir attendre que le trajet soit terminé à la suite de quoi le chauffeur validera l'arrivé du covoiturage. Un mail vous sera ensuite envoyé pour confirmer que tout s'est bien passé.</p>                        
								</div>
							</div>
						{% else %}
							<div class="d-flex flex-column flex-md-row justify-content-center gap-3">
                                <form method="post" action="{{ path('participations_valid_ride', {id: participation.id}) }}" onsubmit="return confirm('En validant le bon déroulement du trajet, vous confirmez qu’aucun problème n’a eu lieu. Confirmer ?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('valid_ride' ~ participation.id) }}">
                                    <button class="btn btn-outline-success w-100" type="submit">
                                        <i class="bi bi-check-circle me-2"></i>Trajet OK
                                    </button>
                                </form>
                                <div>
									<button class="btn btn-outline-danger w-100" data-bs-toggle="modal" data-bs-target="#reportModal-{{ participation.id }}">
										<i class="bi bi-exclamation-octagon me-2"></i>Signaler un souci
									</button>
								</div>
								<div class="modal fade" id="reportModal-{{ participation.id }}" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<form method="post" action="{{ path('participations_report', { id: participation.id }) }}">
												<div class="modal-header">
													<h5 class="modal-title" id="reportModalLabel">Signaler un souci</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
												</div>
												<div class="modal-body">
													<div class="mb-3">
														<label for="description-{{ participation.id }}" class="form-label">Décrivez le problème :</label>
														<textarea class="form-control" id="description-{{ participation.id }}" name="description" rows="4" required></textarea>
													</div>
												</div>
												<div class="modal-footer">
													<input type="hidden" name="_token" value="{{ csrf_token('participation_report' ~ participation.id) }}">
													<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
													<button type="submit" class="btn btn-primary">Envoyer le signalement</button>
												</div>
											</form>
										</div>
									</div>
								</div>
                            </div>
						{% endif %}
						{% endset %}

						{% include 'components/dashboard/_ride_accordion.html.twig' with {
					    ride: ride,
					    loop_index: 'active' ~ loop.index,
						accordion_id: '#active_participations',
						open_first: true,
					    status_color: 'primary',
					    status_message: statusContent,
					    ratings_by_driver: ratings_by_driver[ride.driver.id],
					    dynamic_block: dynamic_block,
					    status_notif: statusNotif
					} %}
					{% endfor %}
				</div>
			</section>
		{% endif %}
	</main>
{% endblock %}
