{% extends 'base.html.twig' %}

{% block title %}Devenir conducteur - EcoRide
{% endblock %}

{% block body %}
	<main class="container-xl">
		<h1 class="text-dark">Devenir un
			<span class="text-primary">Driver</span>
		</h1>
		<div class="mb-3 text-secondary">
			<p>
				<i class="bi bi-info-circle-fill"></i>
				Afin de pouvoir organiser des covoiturages et devenir un Driver, il vous faut renseigner un véhicule ainsi que vos préférences de conducteur.</p>
		</div>


		<div class="container-xl mx-auto">
			{{ form_start(becomeDriverForm, {'attr': {'id': 'become-driver-form'}}) }}
			<div class="mb-3">
				{{ form_label(becomeDriverForm.vehicle.plate) }}
				{{ form_widget(becomeDriverForm.vehicle.plate, {'attr': {'class': 'form-control'}}) }}
				{% for error in becomeDriverForm.vehicle.plate.vars.errors %}
					<div id="errorPlate" class="text-danger small">{{ error.message }}</div>
				{% endfor %}
				<div class="invalid-feedback">
					Votre plaque doit avoir le format suivant : AA-000-AA
				</div>
			</div>
			<div class="mb-3">
				{{ form_label(becomeDriverForm.vehicle.firstRegistrationDate) }}
				{{ form_widget(becomeDriverForm.vehicle.firstRegistrationDate, {'attr': {'class': 'form-control'}}) }}
				{% for error in becomeDriverForm.vehicle.firstRegistrationDate.vars.errors %}
					<div id="errorFirstRegistrationDate" class="text-danger small">{{ error.message }}</div>
				{% endfor %}
				<div class="invalid-feedback">
					La date ne peut être supérieur à la date du jour.
				</div>
			</div>
			<div class="mb-3">
				{{ form_label(becomeDriverForm.vehicle.brand) }}
				{{ form_widget(becomeDriverForm.vehicle.brand, {'attr': {'class': 'form-control'}}) }}
				{% for error in becomeDriverForm.vehicle.brand.vars.errors %}
					<div id="errorBrand" class="text-danger small">{{ error.message }}</div>
				{% endfor %}
				<div class="invalid-feedback">
					Vous devez d'abord sélectionner une marque.
				</div>
			</div>
			<div id="model_wrapper" class="mb-3">
				{{ form_label(becomeDriverForm.vehicle.model) }}
				{{ form_widget(becomeDriverForm.vehicle.model, {'attr': {'class': 'form-control'}}) }}
				{% for error in becomeDriverForm.vehicle.model.vars.errors %}
					<div id="errorModel" class="text-danger small">{{ error.message }}</div>
				{% endfor %}
				<div class="invalid-feedback">
					Veuillez sélectionner un modèle.
				</div>
			</div>
			<div class="mb-3">
				{{ form_label(becomeDriverForm.vehicle.color) }}
				{{ form_widget(becomeDriverForm.vehicle.color, {'attr': {'class': 'form-control'}}) }}
				{% for error in becomeDriverForm.vehicle.color.vars.errors %}
					<div id="errorColor" class="text-danger small">{{ error.message }}</div>
				{% endfor %}
				<div class="invalid-feedback">
					Veuillez sélectionner une couleur.
				</div>
			</div>
			<div class="mb-3">
				<div class="form-check">
					{{ form_label(becomeDriverForm.musicAllowed, null, {'label_attr': {'class': 'form-check-label', 'for': 'music'}}) }}
					{{ form_widget(becomeDriverForm.musicAllowed, {'attr': {'class': 'form-check-input', 'value': 1, 'id': 'music'}}) }}
				</div>
				<div class="form-check">
					{{ form_label(becomeDriverForm.animalsAllowed, null, {'label_attr': {'class': 'form-check-label', 'for': 'animals'}}) }}
					{{ form_widget(becomeDriverForm.animalsAllowed, {'attr': {'class': 'form-check-input', 'value': 1, 'id': 'animals'}}) }}
				</div>
				<div class="form-check">
					{{ form_label(becomeDriverForm.smokingAllowed, null, {'label_attr': {'class': 'form-check-label', 'for': 'smoke'}}) }}
					{{ form_widget(becomeDriverForm.smokingAllowed, {'attr': {'class': 'form-check-input', 'value': 1, 'id': 'smoke'}}) }}
				</div>
			</div>
			<div class='mb-3 text-center'>
				<button id='validate_button' type="submit" class="btn btn-primary justify-content-center">Valider</button>
			</div>
			{{ form_end(becomeDriverForm) }}
		</div>
	</main>
	<script src="{{ asset('js/modules/carSelect.js') }}"></script>
{% endblock %}
